
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <img style="width: 200px; height: auto;" src="https://www.hashmakersol.com/Uploads/logo@2x.png" alt="" />
    <h1>This is my Layout</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
